<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="vn.minerva.travinh">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:name=".App"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="${nameApp}"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:label,android:allowBackup,android:supportsRtl">
        <activity
                android:name=".func.splash.SplashActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".func.passport.PassportActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait" />
        <activity
                android:name=".func.main.MainActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait" />
        <activity android:name=".func.gasoline_store_detail.GasolineStoreDetailActivity"/>
        <activity android:name=".func.gasoline_store.GasolineStoreActivity"/>
        <activity android:name=".func.medical.MedicalActivity"/>
        <activity android:name=".func.medical_detail.MedicalDetailActivity"/>
        <activity android:name=".func.news.NewsActivity"/>
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="${FABRIC_API_KEY}" />

    </application>

</manifest>